{% extends "module.html.twig" %}

{% block section %}
    {% block previewHeader %}
        <div class="container">
            <a href="{{ returnUrl }}" class="btn btn-primary">Back</a>

            {% embed 'note.html.twig' with {type:'info'} %}
                {% block body %}
                    <p>This is a job preview, not a review. It shows what will happen if a job was processed right now, but not necessarily what had happened when the job was last processed.</p>
                    <p>If the job was processed in the past, the associated configuration might have been different which could have changed the specifics of the process.</p>
                {% endblock %}
            {% endembed %}
        </div>
    {% endblock %}

    {% for record in records %}
        {{ include('distributor/preview/record.html.twig', {record}) }}
    {% endfor %}
{% endblock %}
